# Build artifacts
ffgl/binaries/
ffgl/build/windows/x64/

# Visual Studio intermediate/temp files
*.pdb
*.exp
*.lib
*.tlog
*.idb
*.obj
*.ilk
*.cache
*.ipdb
*.iobj

# VS user files
*.vcxproj.user
*.suo
.vs/

# OS files
Thumbs.db
.DS_Store

# Debug logs
debug.log
*.log
